name: 'Close Stale Issues'
on:
  schedule:
    - cron: '30 1 * * *'

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - uses: actions/stale@v9
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-issue-message: '此 Issue 已經超過 60 天沒有任何活動，假如沒有新的回覆，將在 7 天後自動關閉。'
          stale-pr-message: '此 PR 已經超過 60 天沒有任何活動，假如沒有新的更新，將在 7 天後自動關閉。'
          stale-issue-label: 'stale'
          stale-pr-label: 'stale'
          days-before-stale: 60
          days-before-close: 7
          exempt-issue-labels: 'pinned,security,enhancement'
          exempt-pr-labels: 'pinned,security,dependencies'
